<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CF Napa // Eric Skram</title>
    <link rel="stylesheet" href="//brick.a.ssl.fastly.net/Montserrat:300,500,700/Fira+Mono:400/Crimson:400,600,400i,600i">
    <link rel="stylesheet" href="<% assetPath %>/css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js" defer></script>
    <script src="<% assetPath %>/js/main.js" defer></script>
</head>
<body>
    <header class="Header is-projectPage">
        <section class="Header-container">
            <a class="Header-logo" href="/"><h1 class="Header-name">Eric Skram</h1></a>
            <ul class="Nav">
                <li class="Nav-item"><a class="Nav-link" href="/">Work</a></li>
                <!-- <li class="Nav-item"><a class="Nav-link" href="#">Blog</a></li> -->
            </ul>
        </section>
    </header>
    <div class="Content">
        <div class="Project-heading">
            <div class="Project-hero Project-hero--CFN">
                <div class="Project-logo Project-logo--CFN"></div>
            </div>
            <div class="Project-mainPreview Project-mainPreview--CFN"></div>
        </div>
        <div class="Project-body">
            <blockquote class="Project-description">
                <p>CF Napa is one of California's premier wine branding agencies. They approached me to convert their Flash site to a more scalable platform. The new site was developed to be faster and more maintainable. It uses a Wordpress backend and DB coupled to a Timber/Twig frontend.</p>
            </blockquote>

            <div class="PhotoBlock">
                <div class="PhotoBlock-item PhotoBlock-item--full">
                    <img src="<% assetPath %>/images/CFN-Case-Home.jpg" alt="">
                </div>
                <div class="PhotoBlock-item PhotoBlock-item--half">
                    <img src="<% assetPath %>/images/CFN-Case-CaseStudy.jpg" alt="">
                </div>
                <div class="PhotoBlock-item PhotoBlock-item--half">
                    <img src="<% assetPath %>/images/CFN-Case-Detail.jpg" alt="">
                </div>
            </div>
        </div>
        <!-- <div class="ExpandTestWrapper">
            <div data-row="Search-Results" class="ExpandImg">
                <img src="<% assetPath %>/images/Registration-Search-Results.jpg" alt="">
            </div>
            <div data-row="Search-Results" class="ExpandOtherShit">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis quibusdam non dolorem sit mollitia est. Amet quo inventore repellendus porro illum est cum vel a non quis, pariatur perferendis enim.</p>
            </div>
        </div> -->
    </div>
</body>
</html>
