<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CF Napa // Eric Skram</title>
    <link rel="stylesheet" href="//brick.a.ssl.fastly.net/Montserrat:300,500,700/Fira+Mono:400/Crimson:400,600,400i,600i">
    <link rel="stylesheet" href="<% assetPath %>/css/main.css">
</head>
<body>
    <include src="lib/components/header.html"></include>
    <div class="Content">
        <div class="Project-heading">
            <div class="Project-hero Project-hero--CFN">
                <div class="Project-logoContainer">
                    <img class="Project-logo" src="<% assetPath %>/images/CFN-Thumb-Logo.svg" alt="">
                </div>
            </div>
            <div class="Project-mainPreview Project-mainPreview--CFN">
                <div class="Project-mainPreviewContainer">
                    <img src="<% assetPath %>/images/CFN-Case-MainPreview.png" alt="">
                </div>
            </div>
        </div>
        <div class="Project-body">
            <div class="Overview">
                <blockquote class="Overview-summary">
                    <p>CF Napa is one of California's premier wine branding agencies. They approached me to convert their Flash site to a more scalable platform. The new site was developed to be faster and more maintainable. It uses a Wordpress backend and DB coupled to a Timber/Twig frontend.</p>
                </blockquote>
                <div class="Overview-scope">
                    <h3 class="Overview-title">Scope</h3>
                    <p class="Overview-item">Responsive Web</p>
                    <h3 class="Overview-title">Tools</h3>
                    <p class="Overview-item">Wordpress, Timber, Sass, Javscript</p>
                </div>
            </div>
            <section class="Project-block Project-block--hug CFNHome">
                <div class="CFNHome-item">
                    <img src="<% assetPath %>/images/CFN-Case-Home.jpg" alt="">
                </div>
            </section>
            <section class="Project-block CFNSubpages">
                <div class="CFNSubpages-item">
                    <img src="<% assetPath %>/images/CFN-Case-CaseStudy.jpg" alt="">
                </div>
                <div class="CFNSubpages-item">
                    <img src="<% assetPath %>/images/CFN-Case-Detail.jpg" alt="">
                </div>
            </section>
        </div>
    </div>
    <include src="lib/components/footer.html"></include>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="<% assetPath %>/js/main.js"></script>
</html>
