<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Redesigning Registration // Eric Skram</title>
    <link rel="stylesheet" href="//brick.a.ssl.fastly.net/Montserrat:300,500,700/Fira+Mono:400/Crimson:400,600,400i,600i">
    <link rel="stylesheet" href="<% assetPath %>/css/main.css">
</head>
<body>
    <header class="Header Header--Registration is-projectPage">
        <section class="Header-container">
            <a class="Header-logo" href="/"><h1 class="Header-name">Eric Skram</h1></a>
            <ul class="Nav">
                <li class="Nav-item"><a class="Nav-link" href="/">Work</a></li>
                <!-- <li class="Nav-item"><a class="Nav-link" href="#">Blog</a></li> -->
            </ul>
        </section>
    </header>
    <div class="Content">
        <div class="Project-heading">
            <div class="Project-hero Registration-heroContainer">
                <div class="Project-hero Project-hero--Registration"></div>
                <div class="Project-hero Project-hero--RegistrationBlurry"></div>
            </div>
            <div class="Project-mainPreview Project-mainPreview--Registration">
                <div class="Project-mainPreviewContainer">
                    <img src="<% assetPath %>/images/Registration-Case-MainPreview.png" alt="">
                </div>
            </div>
        </div>
        <div class="Project-body">
            <div class="Overview">
                <blockquote class="Overview-summary">
                    <p>Course planning is critically important for students, but registration tools often feel like they're stuck in 1995. In this concept, I reworked my college's tool to be more usable and powerful by providing some valuable context.</p>
                </blockquote>
                <div class="Overview-scope">
                    <h3 class="Overview-title">Scope</h3>
                    <p class="Overview-item">Research, Web</p>
                    <h3 class="Overview-title">Tools</h3>
                    <p class="Overview-item">Sketch, Photoshop</p>
                </div>
            </div>

            <section class="Project-block RegistrationDashboard">
                <h2 class="Project-block-title RegistrationDashboard-title">Dashboard</h2>
                <div class="RegistrationDashboard-description">
                    <p>Unlike Facebook or Instagram, where using the application is the end-goal, this tool is judged by how <em>little</em> time users have to spend completing tasks. Surfacing links for frequently used tools at the top of the page will reduce the amount of searching required to use common functions.</p>
                </div>
                <div class="RegistrationDashboard-mock">
                    <img src="<% assetPath %>/images/Registration-Dashboard.png" alt="">
                </div>
            </section>

            <section class="Project-block RegistrationSearch">
                <h2 class="Project-block-title RegistrationSearch-title">Search</h2>
                <div class="RegistrationSearch-description">
                    <p>Returning contextual and relevant search results allows students to make snap judgements and build their schedules more quickly: <em>"Do I need to take this course for my major?"</em> or <em>"Is the class full?"</em></p>
                </div>
                <div class="RegistrationSearch-mock">
                    <img src="<% assetPath %>/images/Registration-Search-Results.png" alt="">
                </div>
            </section>

            <section class="Project-block RegistrationDetail">
                <h2 class="Project-block-title RegistrationDetail-title">Class Detail Page</h2>
                <div class="RegistrationDetail-description">
                    <p>Eligibility for a class is the first deciding factor for students and should be shown accordingly. Next is often how well the class fits in the rest of their schedule. A week preview gives a holistic view of all saved classes, reducing the cognitive load necessary to mentally build their schedule.</p>
                </div>
                <div class="RegistrationDetail-mock">
                    <img src="<% assetPath %>/images/Registration-Detail.png" alt="">
                </div>
            </section>
        </div>
    </div>
    <footer class="Footer">
        <div class="Footer-legal">&copy; Eric Skram</div>
        <div class="Footer-links">
            <a href="mailto:eric@skram.com">Email</a> <span class="Footer-divider">//</span> <a href="https://github.com/Vpr99" target="_blank">Github</a> <span class="Footer-divider">//</span> <a href="https://www.instagram.com/vpr99/" target="_blank">Instagram</a>
        </div>
    </footer>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="<% assetPath %>/js/main.js"></script>
<script>
$(document).ready(function(){
    $(window).scroll(function () {
        var scrollVal = $(window).scrollTop();
        $('.Project-hero--Registration').css('opacity', 1 - (scrollVal/240));
    });
});
</script>
</html>
