<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Redesigning Registration // Eric Skram</title>
    <link rel="stylesheet" href="//brick.a.ssl.fastly.net/Montserrat:300,500,700/Fira+Mono:400/Crimson:400,600,400i,600i">
    <link rel="stylesheet" href="<% assetPath %>/css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js" defer></script>
    <script src="<% assetPath %>/js/main.js" defer></script>
</head>
<body>
    <header class="Header is-projectPage">
        <section class="Header-container">
            <a class="Header-logo" href="/"><h1 class="Header-name">Eric Skram</h1></a>
            <ul class="Nav">
                <li class="Nav-item"><a class="Nav-link" href="/">Work</a></li>
                <!-- <li class="Nav-item"><a class="Nav-link" href="#">Blog</a></li> -->
            </ul>
        </section>
    </header>
    <div class="Content">
        <div class="Project-heading">
            <div class="Project-hero Project-hero--Registration">
                <div class="Project-hero Project-hero--RegistrationBlurry"></div>
            </div>
            <div class="Project-mainPreview Project-mainPreview--Registration"></div>
        </div>
        <div class="Project-body">
            <blockquote class="Project-summary">
                <p>Course planning is critically important for students, but registration tools often feel like they're stuck in 1995. In this concept, I reworked my college's tool to be more usable and powerful by providing some valuable context.</p>
            </blockquote>

            <div class="Project-description">
                <h2>Dashboard</h2>
                <p>Unlike Facebook or Instagram, where using the application is the end-goal, this tool is judged by how <em>little</em> time users have to spend to complete their tasks. Surfacing links for frequently used tools at the top of the page will reduce the amount of searching required to use common functions.</p>
            </div>
            <div class="PhotoBlock">
                <div class="PhotoBlock-expandItem">
                    <img src="<% assetPath %>/images/Registration-Dashboard.png" alt="">
                </div>
            </div>
            <div class="Project-description">
                <h2>Search</h2>
                <p>Returning contextual and relevant search results allows students to make snap judgements and build their schedules more quickly: <em>"Do I need to take this course for my major?"</em> or <em>"Is the class full?"</em></p>
            </div>
            <div class="PhotoBlock">
                <div class="PhotoBlock-expandItem">
                    <img src="<% assetPath %>/images/Registration-Search-Results.png" alt="">
                </div>
            </div>
            <div class="Project-description">
                <h2>Class Detail</h2>
                <p>Eligibility for a class is the first deciding factor for students and should be shown accordingly. Next is often how well the class fits in the rest of their schedule. A week preview gives a holistic view of all saved classes, reducing the cognitive load necessary to mentally build a complete schedule.</p>
            </div>
            <div class="PhotoBlock">
                <div class="PhotoBlock-expandItem">
                    <img src="<% assetPath %>/images/Registration-Detail.png" alt="">
                </div>
            </div>
        </div>
    </div>
</body>
</html>
