<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TEST DOC</title>
    <link rel="stylesheet" href="//brick.a.ssl.fastly.net/Karla:400,700/Fira+Mono:400/Crimson:400,600,400i,600i">
    <link rel="stylesheet" href="<% assetPath %>/css/main.css">
    <script src="<% assetPath %>/js/main.js" async></script>
</head>
<body>
    <header class="Header">
        <a class="Header-logo" href="/"><h1 class="Header-name">Eric Skram</h1></a>
        <nav class="Nav">
            <ul class="Nav-list">
                <li class="Nav-item"><a class="Nav-link" href="#">Work</a></li>
                <li class="Nav-item"><a class="Nav-link" href="#">Blog</a></li>
            </ul>
        </nav>
    </header>
    <div class="Content">
        <section class="ProjectGrid">
            <ul class="ProjectGrid-list">
                <li class="GridItem">
                    <a class="GridItem-link" href="#">
                        <div class="GridItem-description">
                            <h2 class="GridItem-title">Pro Referral</h2>
                            <p class="GridItem-description">Some Description</p>
                        </div>
                        <img class="GridItem-photo" src="#" alt="Some Project" />
                    </a>
                </li>
                <li class="GridItem">
                    <a class="GridItem-link" href="#">
                        <div class="GridItem-description">
                            <h2 class="GridItem-title">College Registration Concept</h2>
                            <p class="GridItem-description">Some Description</p>
                        </div>
                        <img class="GridItem-photo" src="#" alt="Some Project" />
                    </a>
                </li>
                <li class="GridItem">
                    <a class="GridItem-link" href="#">
                        <div class="GridItem-description">
                            <h2 class="GridItem-title">Macys Mobile App</h2>
                            <p class="GridItem-description">Some Description</p>
                        </div>
                        <img class="GridItem-photo" src="#" alt="Some Project" />
                    </a>
                </li>
                <li class="GridItem">
                    <a class="GridItem-link" href="#">
                        <div class="GridItem-description">
                            <h2 class="GridItem-title">CF Napa</h2>
                            <p class="GridItem-description">Some Description</p>
                        </div>
                        <img class="GridItem-photo" src="#" alt="Some Project" />
                    </a>
                </li>
            </ul>
        </section>
    </div>
</body>
</html>
