<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eric Skram</title>
    <link rel="stylesheet" href="//brick.a.ssl.fastly.net/Montserrat:300,500,700/Fira+Mono:400/Crimson:400,600,400i,600i">
    <link rel="stylesheet" href="<% assetPath %>/css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js" defer></script>
    <script src="<% assetPath %>/js/main.js" defer></script>
</head>
<body>
    <header class="Header">
        <section class="Header-container">
            <a class="Header-logo" href="/"><h1 class="Header-name">Eric Skram</h1></a>
            <ul class="Nav">
                <li class="Nav-item"><a class="Nav-link" href="/">Work</a></li>
                <!-- <li class="Nav-item"><a class="Nav-link" href="#">Blog</a></li> -->
            </ul>
        </section>
    </header>
    <div class="Content">
        <ul class="ProjectGrid">
            <li class="GridItem GridItem--proreferral">
                <a class="GridItem-link ProReferral" href="/projects/proreferral/">
                    <div class="ProReferral-device">
                        <div class="ProReferral-cardArea">
                            <div class="ProReferral-card ProReferral-card--1"></div>
                            <div class="ProReferral-card ProReferral-card--2"></div>
                            <div class="ProReferral-card ProReferral-card--3"></div>
                            <div class="ProReferral-card ProReferral-card--4"></div>
                        </div>
                    </div>
                    <div class="ProReferral-bg"></div>
                    <div class="GridItem-info">
                        <h2 class="GridItem-title">Pro Referral</h2>
                        <div class="GridItem-description">UI / UX / Prototyping</div>
                    </div>
                </a>
            </li>
            <li class="GridItem GridItem--registration">
                <a class="GridItem-link Registration" href="/projects/registration/">
                    <div class="Registration-logo"></div>
                    <div class="Registration-bg"></div>
                    <div class="GridItem-info">
                        <h2 class="GridItem-title">Concept: College Registration</h2>
                        <div class="GridItem-description">UI / UX</div>
                    </div>
                </a>
            </li>
            <li class="GridItem GridItem--cfnapa">
                <a class="GridItem-link CFN" href="/projects/cfnapa/">
                    <div class="CFN-logo"></div>
                        <div class="CFN-scroller"></div>
                    <div class="CFN-bg"></div>
                    <div class="GridItem-info">
                        <h2 class="GridItem-title">CF Napa Brand Design</h2>
                        <div class="GridItem-description">Development</div>
                    </div>
                </a>
            </li>
            <li class="GridItem GridItem--macys">
                <a class="GridItem-link Macys" href="/projects/macys/">
                    <div class="Macys-tooltip"></div>
                    <div class="Macys-bg"></div>
                    <div class="GridItem-info">
                        <h2 class="GridItem-title">Macy's.com Mobile App</h2>
                        <div class="GridItem-description">UI / UX / Prototyping</div>
                    </div>
                </a>
            </li>
            <li class="GridItem GridItem--recipes">
                <a class="GridItem-link Recipes" href="#">
                    <div class="Recipes-logoBlock"><div class="Recipes-logoMark"></div></div>
                    <div class="Recipes-logoType"></div>
                    <div class="Recipes-placeholder">Coming Soon</div>
                    <div class="Recipes-bg"></div>
                    <div class="GridItem-info">
                        <h2 class="GridItem-title">Recipes</h2>
                        <div class="GridItem-description">UI / UX / Development</div>
                    </div>
                </a>
            </li>
        </ul>
        <!-- <div class="ExpandTestWrapper">
            <div data-row="Search-Results" class="ExpandImg">
                <img src="<% assetPath %>/images/Registration-Search-Results.jpg" alt="">
            </div>
            <div data-row="Search-Results" class="ExpandOtherShit">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis quibusdam non dolorem sit mollitia est. Amet quo inventore repellendus porro illum est cum vel a non quis, pariatur perferendis enim.</p>
            </div>
        </div> -->
    </div>
</body>
</html>
