.Header--CFN.is-scrolled h1 { color: #88815e; }

.Project-hero--CFN::before {
    background: url("../images/cfn/case/Hero-BG.jpg") no-repeat center;
    background-size: cover;
}

.CFNHome-item {
    lost-column: 1;
}

.CFNSubpages-item {
    lost-column: 1;
    @mixin large { lost-column: 1/2 2; }
}
