.Footer {
    border-top: 1px solid #e3e3e3;
    font-size: 0.875rem;
    lost-center: $wide-container;
    padding: 1vr 0;

    &-legal,
    &-links { lost-column: 1/2; }

    &-links { text-align: right; }

    &-divider {
        color: #afafaf;
        padding: 0 0.5rem;
    }
}
